<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuepang.yuepang">


    <!--  发送消息-->
        <uses-permission android:name="android.permission.SEND_SMS"/>
        <!--  阅读消息-->
        <uses-permission android:name="android.permission.READ_SMS"/>
        <!--  写入消息-->
        <uses-permission android:name="android.permission.WRITE_SMS" />
        <!-- 接收消息 -->
        <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.yuepang.yuepang.activity.SplshActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yuepang.yuepang.activity.FirstActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.PersonageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.MylikeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.MerchantActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.TopicDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.CreateTopicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.yuepang.yuepang.activity.MerchantDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

    </application>

</manifest>